$font-family:
  'Poppins',
  'Plus Jakarta Sans',
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  sans-serif;

$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$font-size-xs: 0.625em;
$font-size-badge: 0.6875em;
$font-size-sm: 0.75em;
$font-size-percent: 0.8125em;
$font-size-md: 0.875em;
$font-size-base: 1em;
$font-size-header: 1.125em;
$font-size-btn: 1.15em;
$font-size-subtitle: 1.25em;
$font-size-title-sm: 1.3125em;
$font-size-header-md: 1.375em;
$font-size-lg: 1.5em;
$font-size-xl: 2em;